body {
    background-image: url("/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.cadastro-content{
    text-align: center;
    color: white;
}

.cadastro-content h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.cadastro-input{
    display: flex;
    align-items: self-start;
    flex-direction: column;
}

.cadastro-input label{
    font-weight: 800;
}

.cadastro-input input{
    background-color: #ffffff;
    padding: 9px;
    border-radius: 20px;
    width: 70vh;
    color: rgb(0, 0, 0);
}

.cadastro-termos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;;
}

.cadastro-termos a{
    text-decoration:underline;
    font-weight: 800;
}

.cadastro-button{
    margin: 10px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1rem 1rem;
    border-radius: 10px;
    width:  10rem;
    height: 2rem;
    text-align:center;
    background-color:#0097B2;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}
