.cards-section {
  padding: 1.5rem;
}

.card-info{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

.card-info img{
    height: 20px;
}

.card-title {
  text-align: center;
  font-weight: 800;
  margin-left: 80px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; 
  margin-bottom: 2.5rem; 
  color: white;
}

.card {
  width: 18rem; 
  background: #0097B2;
  border-radius: 25px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-description {
  font-size: 0.875rem;
  margin-top: 0.25rem;
  margin-left: 2rem;
}

.card-text {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.card-button {
  background: rgba(255, 255, 255, 0.604);
  color: #0097B2;
  text-align: center;
  padding: 0.5rem;
  border-radius: 25px;
  font-weight: bold;
  margin: 0.75rem;
  cursor: pointer;
  border: none;
}

.card-button:hover {
  background: #ffffff; 
}

.card-subinfo{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.card-subinfo img{
    height: 25px;
}

.card-details{
    display: flex;
    flex-direction: column;
    align-self: start;
}