body {
    background-color: black;
    background-image: url("/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100vh;
    width: 99vw;
}

.registro h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
}

.inicio-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.inicio-content{
    flex: 1;
    background-color: white;
    border-radius: 100px 100px 0 0;

    width: 100%;
    height: 100vh;
    padding: 15px;
}

.inicio-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-form input{
    width: 25%;
    height: 40px;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 1.2rem;
    background-color: #B6E4ED;
}

footer {
    position: relative;
    z-index: 10;
    background-color: #0097B2;
    object-fit: cover;
    position: absolute;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}