body {
    background-image: url("/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.home-content{
    text-align: center;
    color: white;
    font-weight: 800;
}

.home-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-buttons{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 800;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1rem 1rem;
    border-radius: 5rem;
    width: 16rem;
    height: 3rem;
    text-align:center
}

.button:nth-child(1) {
    background-color: #0097B2;
    color: white;
}

.button:nth-child(2) {
    background-color: #ffffff;
    color: #0097B2;
}